@font-face {
    font-family: 'Limelight';
    src: url(/static/fonts/Limelight-Regular.ttf);
}

body {
    min-width: 900px;
    font-family: sans-serif;
}

div.container {
    min-width: 500px;
}

.alert {
    padding: 4px;
    width: 100%;
    margin: auto;
    margin-bottom: 8px;
    text-align: center;
}

h1 {
    color: darkgray;
    text-align: center;
}

div#header {
    top:0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 60px;
    background-color: rgb(240, 226, 36);
}

div#footer {
    bottom:0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 30px;
    background-color: rgb(51, 48, 0);
}

.btn-default {
    background-color: #4c4b4b;
    color: white;
}

.btn-default.primary {
    background-color: #6f4aa0;
}

.btn-lg {
    width: 100%;
}