div.container {
    width: 90%;
    height: 100%;
    margin-bottom: 20px;
}

input.btn {
    width: 100px;
}

div.test-flex {
    width: 100%;
    min-width: fit-content;
    display: grid;
    column-gap: 20px;
    grid-template-columns: 50% 50%;
}

div.tables-flex{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: left;
}

div.test-question {
    min-width: fit-content;
}

div.test-interface {
}

div.table {
    border-color: lightgray;
    word-wrap: break-word;
    max-width: 400px;
    flex: 1 1 200px;
    margin: 5px 10px;
}

table {
    border-width: 1px;
    border-style: solid;
    border-color: lightgray;
}

.bordered {
    border-radius: 10px;
    border-color: lightgray;
    border-style: solid;
    border-width: 2px;
}

.input-sql {
    resize: vertical;
    height: 200px;
    min-height: 50px;
    max-height: 400px;
    width: 100%;
    margin: auto;
    padding: 10px;
    border-color: #333;
    font-family: sans-serif;
    font-size: 18px;
}

.form-buttons {
    float: right;
}

.table-name {
    font-weight: bold;
    padding-left: 5px;
}

#question-container {
    padding: 0px 30px;
    margin-bottom: 20px;
}

#test-header {
    margin-left: 40px;
}

#question-title {
   
}

#question-text {
    font-size: large;
}

#schema-title {
    margin-bottom: 20px;
}

#question-output {
    max-width: 320px;
    min-width: fit-content;
}

#question-output-table {
    margin: 5px 5px 20px;
}

#results-placeholder {
    font-style: italic;
    font-size: 16px;
    font-family: monospace, sans-serif;
}

#table-result {
    white-space: normal;
    min-width: 200px;
    word-break: normal;
    overflow: auto;
}

#results {
}