{% block header %}
<header>       

    <div class="flex-container">
        <div class="header-item text-center left"></div>
        <div class="header-item text-center center">Awesome SQL Test</div>
        <div class="header-item text-center right">
            <a target="_blank" rel="noopener noreferrer"
               href="https://github.com/arielbello/sql-test-website" >
                <img alt="github" width="36" height="36" src="{{ url_for('static', filename='imgs/github.png') }}">
            </a>
        </div>
    </div>
</header>


{% endblock %}