{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}


<div class="container">

    <h1> SQL Test Page </h1>
    <hr>

    <form action={{action}} method="POST">
        {{ form.csrf_token }}

        <p>{{ wtf.form_field(form.sql) }}</p>

        {% if form.errors %}
        <!-- server side errors -->
        
        {% endif %}

        <p>
            <span> {{ wtf.form_field(form.run, class="btn btn-secondary") }} </span>
            <span> {{ wtf.form_field(form.submit, class="btn btn-primary") }} </span>
        </p>
    </form>

</div>
{% endblock %}