<form action={{action}} method="POST">
    {{ form.csrf_token }}

    {{ form.sql(class="input-sql bordered") }}

    {% if form.errors %}
    <!-- server side errors -->
    
    {% endif %}

    <div class="form-buttons">
        <span> {{ form.run(class="btn btn-secondary") }} </span>
        <span> {{ form.submit(class="btn btn-primary") }} </span>
    </div>
</form>

<hr id="input-delimiter">

<div id="results">
    <h3>Query results</h3>
    {% if errormsg %}
    <!-- TODO change alert for smth else -->
    <div class="alert alert-danger" role="alert">
        {{ errormsg }}
    </div>
    {% elif submit %}
    <div class="alert alert-info" role="alert">
        Answer submitted successfuly
    </div>
    {% elif accepted %}
    <div class="alert alert-success" role="alert">
        Correct!
    </div>
    {% elif has_rows %}
    <div class="alert alert-warning" role="alert">
        Incorrect answer
    </div>
    {% else %}
    <div>
        <p class="info-text">Your results will be displayed here</p>
    </div>
    {% endif %}
    
    {% if has_rows %}
    <div id="table-result">
        <table class="table table-striped tables-flex">
        <thead>
            <tr>
        {% for col in result.columns %}    
            <th scope="col">{{col}}</th>
        {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for row in result.itertuples() %}
            <tr>
            {% for col in row[1:] %}
                <td>
                    {{ col }}
                </td>
            {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
    {% if rows_info %}
    <p class="info-text"> {{ rows_info }} </p>
    {% endif %}
    {% endif %}
</div>
