{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('static', filename='css/sqltest.css')}}">
{% endblock %}


{% block content %}
{{ super() }}

<div class="container">
    
    <h2 class="text-left"> Problem 1 </h2>
    <hr>

    <div class="row">
        <div class="col-lg-6 question">
            {% include "sqltest_question.html" %}
        </div>

        <div class="col-lg-6" id="sql-box">
            {% include "sqltest_input.html" %}
        </div>
    </div>

</div>

{% endblock %}