<form action={{action}} method="POST">
    {{ form.csrf_token }}

    {{ form.sql(class="input-sql bordered", placeholder="Write your query here.\nExample:\nSELECT * FROM Users") }}

    {% if form.errors %}
    <!-- server side errors -->
    
    {% endif %}

    <div class="form-buttons">
        <span> {{ form.run(class="btn btn-secondary") }} </span>
        <span> {{ form.submit(class="btn btn-primary") }} </span>
    </div>
</form>

<hr>

<div id="results">
    <h2>Results</h2>
    {% if errormsg %}
    <div class="alert alert-danger" role="alert">
        {{ errormsg }}
    </div>
    {% elif submit %}
    <div class="alert alert-info" role="alert">
        Answer submitted successfuly
    </div>
    {% elif accepted %}
    <div class="alert alert-success" role="alert">
        Correct!
    </div>
    {% elif has_rows %}
    <div class="alert alert-warning" role="alert">
        Wrong answer
    </div>
    {% endif %}
    
    {% if has_rows %}
        {% for row in result.itertuples() %}
        <p> {{ row[:] }} </p>
        {% endfor %}
    {% endif %}
</div>
